/*
Device Sizes
- desktop size is bigger or equal to 1200px
- table is smaller than 1200px
- phone is smaller than 500px
*/

:root {
    /*Colors*/
    --primary-page-background-color: rgb(216, 231, 227);
    --secondary-page-background-color: rgb(236, 236, 236);

    --text-color: white;
    --text-color-dimmed: rgb(236, 236, 236);

    --card-background-color: rgb(220, 220, 220);
    --chip-background-color: rgb(89, 110, 109);

    --primary-color: rgb(73, 99, 97);
    --primary-hover-color: rgb(96, 113, 112);

    --shadow-color: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-page-background-color: rgb(42, 64, 59);
        --secondary-page-background-color: rgb(38, 36, 36);

        --text-color: rgb(255, 255, 255);
        --text-color-dimmed: rgb(241, 241, 241);

        --card-background-color: rgb(42, 64, 59);
        --chip-background-color: rgb(39, 46, 46);

        --primary-color: rgb(236, 232, 228);
        --primary-hover-color: rgb(51, 92, 89);

        --shadow-color: rgba(0, 0, 0, 0.2);
    }
}

body {
    margin: 0;
    background-color: var(--secondary-page-background-color);
    color: var(--primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.6;

    /* Text Schriftgrößen */

    h1,
    h2,
    h3 {
        font-weight: 500;
    }

    h4 {
        font-weight: 400;
    }

    p,
    ul,
    a {
        font-weight: 200;
    }
}


.titlebar {
    background-color: rgba(1, 1, 1, 0.6);
    backdrop-filter: blur(20px);
    color: var(--text-color-dimmed);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 600;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 24px var(--shadow-color);
    z-index: 1;
}

.header-name {
    font-weight: 600;
    font-size: 16px;
    padding-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color-dimmed);

    &:hover {
        color: var(--text-color);
    }
}

.navigation-list {
    display: flex;
    color: var(--text-color-dimmed);
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 20px;

    li {
        font-weight: 200;
        display: inline-block;
        list-style: none;
        /* optional, damit kein Bullet angezeigt wird */
    }

    a {
        font-weight: 200;
        display: inline-block;
        color: var(--text-color-dimmed);
        background-color: unset;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: var(--text-color);
        }
    }
}


#hamburger-menu {
    display: none;

    &:checked {
        ~ .navigation-list {
            display: flex;
        }

        ~ .hamburger-open {
            display: none;
        }

        ~ .hamburger-close {
            display: block;
        }

        ~ .header-name {
            display: none;
        }
    }
}

.hamburger-open {
    display: none;
}

.hamburger-close {
    display: none;
    position: fixed;
    top: 10px;
    right: 6px;
    color: var(--text-color-dimmed);
}

.hamburger-icon {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60px;
    font-size: 12px;
    color: var(--text-color-dimmed);
}

/*phone*/
@media screen and (max-width: 640px) {
    .hamburger-open {
        display: block;
    }

    .hamburger-close {
        display: none;
    }

    .navigation-list {
        display: none;
        flex-direction: column;
        padding: 32px;
        border-radius: 12px;

        a {
            color: var(--text-color-dimmed);
            font-weight: 300;
        }
    }
}


.profile-picture {
    width: clamp(150px, 15vw, 300px);
    height: auto;
    /* Höhe proportional zur Breite */
    border-radius: 20%;
    /* rundes Bild */
    transition: transform 0.4s ease;
    border-radius: 30% 70% 55% 45% / 30% 30% 70% 70%;
    filter: saturate(120%) brightness(1.2);
}

.profile-picture:hover {
    transform: translateY(-7px) rotate(1deg);
}

#about {
    padding-bottom: 60px;

    p {
        max-width: 60ch;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
}

.chip-container {
    display: flex;
    flex-wrap: wrap;
    /* Zeilenumbruch bei Platzmangel */
    gap: 8px;
    /* Abstand zwischen Chips */
    padding: 0;
    justify-content: center;
    align-items: center;

    .chip {
        display: inline-block;
        padding: 7px 15px;
        background-color: var(--chip-background-color);
        color: var(--text-color);
        border-radius: 16px;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
    }
}

.button-outlined {
    display: inline-block;
    padding: 7px 15px;
    color: var(--primary-color);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid var(--primary-color);
    margin-top: 15px;
    margin-bottom: 15px;

    &:hover {
        background-color: var(--primary-color);
        color: var(--secondary-page-background-color);
    }
}


.projects {
    width: 1000px;
    /* Startgröße */
    max-width: 80vw;
    /* passt sich Bildschirmbreite an */
    height: auto;
    /* Höhe proportional zur Breite */
}

section {
    padding: 40px 12% 80px;
    text-align: center;
}

#hero {
    background-color: var(--primary-page-background-color);
    padding: 180px 250px 100px;
    background-image: url("./images/noise.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: color;
}

/*tablet*/
@media screen and (max-width: 1200px) {
    #hero {
        padding: 100px 50px 40px;
    }

    section {
        padding: 60px;
    }
}

/*phone*/
@media screen and (max-width: 640px) {
    #hero {
        padding: 120px 10px 30px;
    }

    section {
        padding: 10px;
    }
}

#skills {
    background-color: var(--primary-page-background-color);
    background-image: url("./images/noise.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: color;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 12px;
        background-color: var(--card-background-color);
        padding: 10px;

        img {
            width: 100%;
            border-radius: 6px;
        }
    }
}

/*phone*/
@media screen and (max-width: 640px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

footer {
    margin-top: 60px;
    background-color: var(--primary-page-background-color);
    padding: 20px;
    text-align: center;

    background-image: url("./images/noise.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: color;

    .footer-icon {
        display: inline-block;
    }

    a {
        color: var(--primary-color);
        text-decoration: none;
        font-size: 22px;
        transition: transform 0.3s ease, color 0.3s ease;

        &:hover {
            color: var(--primary-hover-color);
            transform: scale(1.2);
        }
    }

    p {
        padding-top: 20px;
        margin: 0;
    }
}


.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

@media screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    padding: 12px;
    border-radius: 20px;
    background-color: var(--card-background-color);
}

#skills .card-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.card-outlined {
    flex: 1 1 350px;
    width: 0;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid var(--chip-background-color);
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

/*tablet*/
@media screen and (max-width: 1200px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}

.timeline-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 40px 0;

    .timeline-list-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .timeline-card {
            flex: 1 1 100px;
            border-radius: 12px;
            background-color: var(--card-background-color);
            padding: 12px;
            height: 210px;
            align-content: center;
        }

        .timeline-icon {
            color: var(--primary-color);
            font-size: 32px;
            height: 60px;
            width: 60px;
            background-color: var(--card-background-color);
            border-radius: 50%;
            flex: none;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                position: absolute;
                content: '';
                height: 250px;
                width: 2px;
                background-color: var(--card-background-color);
                z-index: -1;
            }
        }

        .timeline-year {
            color: var(--primary-color);
        }
    }
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(1, 1, 1, 0.6);
    backdrop-filter: blur(10px);
    color: var(--text-color-dimmed);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    /* für Icon zentrieren */
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: all 0.3s ease;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    /* unsichtbar und nicht klickbar */
}

#scroll-to-top.show {
    opacity: 1;
    pointer-events: auto;
}

#scroll-to-top:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.1);
}

.sticky-headline {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 24px;
}

.sticky-board {
    margin-bottom: 50px;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 16px;
}

.sticky-note {
    flex: 1 1 250px;
    width: 0;
    border: 2px solid var(--chip-background-color);

    padding: 12px;
    border-radius: 6px;
    background-color: var(--chip-background-color);
    box-shadow: 0 8px 24px var(--shadow-color);

    .type {
        color: var(--text-color);
        font-weight: lighter;
    }

    .cite {
        font-weight: lighter;
        font-size: 18px;
        font-style: italic;
        color: var(--text-color-dimmed);
    }

    .author {
        color: var(--text-color);
    }
}