body {
  margin: 0px;
  background-color: rgb(236, 236, 236);
  color: rgb(62, 78, 77);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  padding-top: 60px;
}

/* Text Schriftgrößen */
h1,
h2,
h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

p,
ul,
a {
  font-weight: 200;
}

.titlebar {
  background-color: #3E4E4D;
  color: rgb(236, 236, 236);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  font-weight: 600;
  padding: 6px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 24px rgba(149, 149, 149, 0.2);
  z-index: 1;
}

.header-name {
  font-weight: 600;
  font-size: 16px;
  padding-left: 10px;
  text-transform: uppercase;
}

.navigation-list {
  display: flex;
  color: rgb(236, 236, 236);
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: 20px;
}

.navigation-list li,
.navigation-list a {
  font-weight: 300;
  display: inline-block;
  color: rgb(236, 236, 236);
  background-color: unset;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list a:hover {
  color: white;
}

#hamburger-menu {
  display: none;
}

.hamburger-open {
  display: none;
}

.hamburger-close {
  display: none;
  position: fixed;
  top: 10px;
  right: 6px;
  color: rgb(236, 236, 236);
}

.hamburger-icon {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 60px;
  font-size: 12px;
  color: rgb(236, 236, 236);
}

#hamburger-menu:checked~.navigation-list {
  display: flex;
}

@media screen and (max-width: 640px) {
  .hamburger-open {
    display: block;
  }

  .hamburger-close {
    display: none;
  }

  #hamburger-menu:checked~.hamburger-open {
    display: none;
  }


  #hamburger-menu:checked~.hamburger-close {
    display: block;
  }

  #hamburger-menu:checked~.header-name {
    display: none;
    background-color: red;
  }

  .navigation-list {
    display: none;
    flex-direction: column;
    padding: 32px;
    border-radius: 12px;
  }

  .navigation-list a {
    color: color: rgb(236, 236, 236);;
    font-weight: 300;
  }

}

.profile-picture {
  width: 100px;
  /* Startgröße */
  max-width: 30vw;
  /* passt sich Bildschirmbreite an */
  height: auto;
  /* Höhe proportional zur Breite */
  border-radius: 50%;
  /* rundes Bild */

}

.chip-container {
  display: flex;
  /* Chips nebeneinander */
  flex-wrap: wrap;
  /* Zeilenumbruch bei Platzmangel */
  gap: 8px;
  /* Abstand zwischen Chips */
  padding: 0px;
  justify-content: center;
  align-items: center;
}

.chip {
  display: inline-block;
  padding: 7px 15px;
  background-color: rgb(89, 110, 109);
  color: rgb(236, 236, 236);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
}

.button-outlined {
  display: inline-block;
  padding: 6px 12px;
  color: rgb(62, 78, 77);
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  border: 1px solid rgb(62, 78, 77);
  padding: 7px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.button-outlined:hover {
  background-color: #3e4e4d;
  color: white;
}

.projects {
  width: 1000px;
  /* Startgröße */
  max-width: 80vw;
  /* passt sich Bildschirmbreite an */
  height: auto;
  /* Höhe proportional zur Breite */
}

section {
  padding: 40px 100px 80px;
  text-align: center;
}

#hero {
  background-color: #74a39942;
  padding: 120px 250px 100px;
}

@media screen and (max-width: 1200px) {
  #hero {
    padding: 40px 50px 40px;
  }

  section {
    padding: 60px;
  }
}

@media screen and (max-width: 500px) {
  #hero {
    padding: 10px 10px 30px;
  }

  section {
    padding: 10px;
  }
}


#skills {
  background-color: #74a39928;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.grid article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  background-color: #d7d7d7;
  padding: 10px;
}

.grid article img {
  width: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

footer {
  background-color: #74a39928;
  padding: 20px;
  text-align: center;
}

.footer-icon {
  display: block;
}

footer a {
  color: #3e4e4d;
  text-decoration: none;
  font-size: 22px;
}

footer a:hover {
  color: #233725;
}


footer p {
  padding-top: 30px;
  margin: 0px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

@media screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  padding: 12px;
  border-radius: 20px;
  background-color: rgb(220, 220, 220);
}

#skills .card-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.card-outlined {
  flex: 1 1 350px;
  width: 0;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid #3e4e4d3e;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }
}

.timeline-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 0px 40px 0px;
}

.timeline-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.timeline-card {
  flex: 1 1 100px;
  border-radius: 12px;
  background-color: rgb(220, 220, 220);
  padding: 7px 15px;
  padding: 12px;
  border-radius: 12px;
  height: 180px;
  align-content: center;
}


.timeline-icon {
  color: #3e4e4d;
  font-size: 32px;
  height: 60px;
  width: 60px;
  background-color: rgb(220, 220, 220);
  border-radius: 50%;
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-year {
  color: rgb(62, 78, 77);
}

.timeline-icon::before {
  position: absolute;
  content: '';
  height: 220px;
  width: 2px;
  background-color: rgb(220, 220, 220);
  z-index: -1;
}