<!-- Footer -->
<footer id="contact">
    <!-- Kontakt -->
    <h2>Lust auf ein neues Projekt?</h2>
    <h3>Ich freue mich über neue Kontakte, spannende UX Projekte oder eine kurze Nachricht von dir 👋</h3>
    <address>
        <ul class="chip-container">
            <!-- LinkedIn -->
            <li class="footer-icon">
                <a aria-label="LinkedIn Profil von Franziska Leicht" href="https://www.linkedin.com/in/franziskaleicht">
                    <span aria-hidden="true" class="fab fa-linkedin fa-2x"></span>
                </a>
            </li>
            <!-- GitHub -->
            <li class="footer-icon">
                <a aria-label="GitHub Repository von Franziska Leicht"
                   href="https://github.com/IU-Webprogrammierung/webprogrammierung-Franziska-Leicht">
                    <span aria-hidden="true" class="fa-brands fa-square-github fa-2x"></span>
                </a>
            </li>
            <!-- Mail -->
            <li class="footer-icon">
                <a aria-label="E-Mail an Franziska Leicht senden" href="mailto:leicht.franziska98@gmail.com">
                    <span aria-hidden="true" class="fas fa-envelope fa-2x"></span>
                </a>
            </li>
        </ul>
    </address>
    <div class="sticky-headline">UX Pinnwand</div>
    <div class="sticky-board">
        <div class="sticky-note">
            <div class="type">Buch</div>
            <div class="cite">„Hooked“</div>
            <div class="author">Nir Eyal</div>
        </div>
        <div class="sticky-note">
            <div class="type">Zitat</div>
            <div class="cite">„People don't always do what they say, but they always do what they feel“</div>
            <div class="author">Susan Weinschenk</div>
        </div>
        <div class="sticky-note">
            <div class="type">Zitat</div>
            <div class="cite">„Don’t Make Me Think“</div>
            <div class="author">Steve Krug</div>
        </div>
    </div>

    <p>© 2025 Franziska Leicht</p>
</footer>