<!-- Header mit Logo und Navigation -->
<header>
    <nav aria-label="Hauptnavigation" class="titlebar">
        <input id="hamburger-menu" type="checkbox">
        <a aria-label="Zurück zu unserer Hauptnavigation"
           href="./"
           rel="noopener noreferrer"
           class="header-name"
        >
            Franziska Leicht
        </a>

        <label aria-label="Menü öffnen" class="hamburger-open hamburger-icon" for="hamburger-menu">
            <i aria-hidden="true" class="fa-solid fa-bars fa-2x"></i>
        </label>
        <label aria-label="Menü schließen" class="hamburger-close hamburger-icon" for="hamburger-menu">
            <i aria-hidden="true" class="fa-solid fa-x fa-2x"></i>
        </label>
        <ul class="navigation-list">
            <li><a href="#about">Über mich</a></li>
            <li><a href="#skills">Kenntnisse</a></li>
            <li><a href="#projects">Portfolio</a></li>
            <li><a href="#contact">Kontakt</a></li>
        </ul>
    </nav>
</header>